    <h1 class="off-left"><a href="{{projectRoot}}index.html">Jindo Component</a></h1>
    <section class="api-search">
    	<input type="text" id="api-filter" placeholder="검색어를 입력하세요.">
    </section>
    <section class="api-all-list">
    	
    	{{#if name}}
    	
    		<h2>{{name}}</h2>

	        {{#if constructors}}
	            <div class="index-section constructor">
	                <h3>생성자</h3>
	
	                <ul class="index-list constructors{{#if extends}} extends{{/if}}">
	                    {{#constructors}}
	                        <li class="index-item constructor{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} inherited{{/if}}{{#if extended_from}} inherited{{/if}}">
	                        
	                			<a href="#constructor_{{name}}">{{class}}</a>
	
	                            {{#if params}}
	                                <div class="args">
	                                    <span class="paren">(</span><ul class="args-list inline commas">
	                                    {{#params}}
	                                        <li class="arg">
	                                            {{#if optional}}
	                                                <code class="optional">[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}]</code>
	                                            {{else}}
	                                                <code>{{name}}</code>
	                                            {{/if}}
	                                        </li>
	                                    {{/params}}
	                                    </ul><span class="paren">)</span>
	                                </div>
	                            {{else}}
	                                <span class="paren">()</span>
	                            {{/if}}
	                            
	                        </li>
	                    {{/constructors}}
	                </ul>
	            </div>
	        {{/if}}
	
	        {{#if methods}}
	            <div class="index-section method">
	                <h3>메서드</h3>
	
	                <ul class="index-list methods{{#if extends}} extends{{/if}}">
	                    {{#methods}}
	                        <li class="index-item method{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} inherited{{/if}}{{#if extended_from}} inherited{{/if}}">
	                        
	                            <a href="#method_{{name}}">{{name}}</a>
	
	                            {{#if params}}
	                                <div class="args">
	                                    <span class="paren">(</span><ul class="args-list inline commas">
	                                    {{#params}}
	                                        <li class="arg">
	                                            {{#if optional}}
	                                                <code class="optional">[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}]</code>
	                                            {{else}}
	                                                <code>{{name}}</code>
	                                            {{/if}}
	                                        </li>
	                                    {{/params}}
	                                    </ul><span class="paren">)</span>
	                                </div>
	                            {{else}}
	                                <span class="paren">()</span>
	                            {{/if}}
	                            
	                        </li>
	                    {{/methods}}
	                </ul>
	            </div>
	        {{/if}}
	
	        {{#if properties}}
	            <div class="index-section property">
	                <h3>프로퍼티</h3>
	
	                <ul class="index-list properties{{#if extends}} extends{{/if}}">
	                    {{#properties}}
	                        <li class="index-item property{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} inherited{{/if}}{{#if extended_from}} inherited{{/if}}">
	                            <a href="#property_{{name}}">{{name}}</a>
	                        </li>
	                    {{/properties}}
	                </ul>
	            </div>
	        {{/if}}
	
	        {{#if attrs}}
	            <div class="index-section attr">
	                <h3>속성</h3>
	
	                <ul class="index-list attrs{{#if extends}} extends{{/if}}">
	                    {{#attrs}}
	                        <li class="index-item attr{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} inherited{{/if}}{{#if extended_from}} inherited{{/if}}">
	                            <a href="#attr_{{name}}">{{name}}</a>
	                        </li>
	                    {{/attrs}}
	                </ul>
	            </div>
	        {{/if}}
	
	        {{#if events}}
	            <div class="index-section event">
	                <h3>이벤트</h3>
	
	                <ul class="index-list events{{#if extends}} extends{{/if}}">
	                    {{#events}}
	                        <li class="index-item event{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} inherited{{/if}}{{#if extended_from}} inherited{{/if}}">
	                            <a href="#event_{{name}}">{{name}}</a>
	                        </li>
	                    {{/events}}
	                </ul>
	            </div>
	        {{/if}}
    	
    	{{else}}

	    	<ul>
			{{#classes}}
				<li>
					<h2><a href="{{../projectRoot}}classes/{{name}}.html">{{displayName}} 클래스</a></h2>
				</li>
			{{/classes}}
			</ul>
    	
    	{{/if}}
		    	
    </section>
    <section class="api-result">
	    <ul class="api-class-tabs">
	    	<li class="tag"><a href="#tag">태그</a></li>
	    	<li class="class"><a href="#class">클래스</a></li>
	    	<li class="method"><a href="#method">메서드</a></li>
	    	<li class="property" style="display:none;"><a href="#property">프로퍼티</a></li>
	    	<li class="attr"><a href="#attr">속성</a></li>
	    	<li class="event"><a href="#event">이벤트</a></li>
	    	<li style="clear:both; float:none;"></li>
	    </ul>
	    <ul class="api-class-panels">
	    	<li class="api-class-panel tag">
	    		<ul>
	    			<li>
	    				<h3>hello</h3>
	    				<ul>
	    					<li>jindo.Component</li>
	    					<li>jindo.Component</li>
	    					<li>jindo.Component</li>
	    				</ul>
	    			</li>
	    			<li>
	    				<h3>world</h3>
	    				<ul>
	    					<li>jindo.Component</li>
	    					<li>jindo.Component</li>
	    					<li>jindo.Component</li>
	    				</ul>
	    			</li>
	    		</ul>
	    	</li>
	    	<li class="api-class-panel class">
	    		<ul>
					<li>jindo.Component</li>
					<li>jindo.Component</li>
					<li>jindo.Component</li>
	    		</ul>
	    	</li>
	    	<li class="api-class-panel method">
	    		<ul>
					<li>jindo.Component</li>
					<li>jindo.Component</li>
					<li>jindo.Component</li>
	    		</ul>
	    	</li>
	    	<li class="api-class-panel property">
	    		<ul>
					<li>jindo.Component</li>
					<li>jindo.Component</li>
					<li>jindo.Component</li>
	    		</ul>
	    	</li>
	    	<li class="api-class-panel attr">
	    		<ul>
					<li>jindo.Component</li>
					<li>jindo.Component</li>
					<li>jindo.Component</li>
	    		</ul>
	    	</li>
	    	<li class="api-class-panel event">
	    		<ul>
					<li>jindo.Component</li>
					<li>jindo.Component</li>
					<li>jindo.Component</li>
	    		</ul>
	    	</li>
	    	<li class="api-class-panel no-result-msg">
	    		검색 결과가 없습니다.
	    	</li>
	    </ul>
	</section>
    
    <!--
    <div id="api-tabview" class="tabview">
        <ul class="tabs">
            <li><a href="#api-classes">Classes</a></li>
            <li><a href="#api-modules">Modules</a></li>
        </ul>

        <div id="api-tabview-filter">
            <input type="search" id="api-filter" placeholder="Type to filter APIs">
        </div>

        <div id="api-tabview-panel">
            <ul id="api-classes" class="apis classes">
            {{#classes}}
                <li><a href="{{../projectRoot}}classes/{{name}}.html">{{displayName}}</a></li>
            {{/classes}}
            </ul>

            <ul id="api-modules" class="apis modules">
            {{#allModules}}
                <li><a href="{{../projectRoot}}modules/{{name}}.html">{{displayName}}</a></li>
            {{/allModules}}
            </ul>
        </div>
    </div>
	-->