#left-columns {
	overflow:hidden;
	position:relative;
}

.sidemenu {
	position:absolute;
	z-index:1;
}

#wrap {
	background:url(../images/bg.gif) repeat-y #fff;	
}

#main a {
	color:inherit;
}

.api-page .content a {
	border-bottom:1px solid #FF8DC1;
}

.api-page .options {
	text-align:right;
}
	
	.api-page .options * {
		vertical-align:middle;
	}
	
.api-page .foundAt {
	position:absolute;
}

	.api-page .foundAt a {
		text-indent:-99em;
		margin:0 0 0 10px;
		width:24px; height:24px;
		overflow:hidden;
		background:url(../images/code.png) no-repeat;
		border:0 !important;
		display:block;
		position:absolute;
	}

.api-page .description {
	padding:0 .5em;
	margin:10px 0;
	font-size:1.2em;
	color:#666;
}

.api-page .content h1 {
	font-size:2em;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
	color:#000;
	font-weight:bold;
}

.api-page dl.relation {
	display:block;
	clear:both;
	overflow:hidden;
	margin:10px; padding:0;
}

.api-page .relation dt,
.api-page .relation dd {
	margin:0; padding:0;
	float:left;
	height:20px;
}

.api-page .relation dt {
	clear:both;
	width:3em;
	text-align:right;
	padding-right:1em;
	color:#000;
	font-size:1.2em;
	font-weight:normal;
	text-shadow:2px 2px 5px rgba(0, 0, 0, .2);
}

.api-page .flag {
	font-size:11px;
	font-family:Arial;
	text-shadow:none;
	font-weight:normal;
	background-color:#888;
	color:#fff;
	padding:0 4px;
	margin:0;
	border-radius:5px;
	cursor:default;
}

.api-page .flag.deprecated {
	background-color:#000;
}

.api-page .flag.optional {
	background-color:#bbb;
}

.api-page .flag.static {
	background-color:#aa7;
}

.api-page .screenshots ul {
	white-space:nowrap;
	overflow:hidden;
	overflow-x:scroll;
	border:1px solid #ebebeb;
	border-width:1px 0;
	font-size:0;
}

.api-page .screenshots ul * {
	vertical-align:middle;
}

.api-page .screenshots li {
	display:inline;
}

.api-page #docs-tab {
	margin-top:2em;
}

.api-page #docs-tab .tabs {
	display:block;
	float:left;
	width:100%;
	border-bottom:1px solid #ddd;
	padding:0 10px;
	margin:0 -10px;
}

.api-page #docs-tab .tc-tab a {
	float:left;
	position:relative;
	z-index:1;
	display:block;
	border:0;
	padding:.5em;
	text-align:center;
	width:4.5em;
	margin:0 1px -1px 0;
	font-size:1.3em;
	background-color:#eee;
	border-top:3px solid #fff;
	border-bottom:1px solid #ddd;
}

.api-page #docs-tab .tabs .tc-selected a {
	border-color:#CA2D71;
	border-bottom:1px solid #fff;
	background-color:#fff;
	font-weight:bold;
}

.api-page #docs-tab .panels {
	clear:both;
}

.api-page #docs-tab .tc-panel {
	display:none;
	padding:10px;
}

.api-page #docs-tab .tc-panel h2 {
	display:none;
}

.api-page #docs-tab .tc-selected {
	display:block;
}

.api-page .item {
	margin:15px 0;
	padding-bottom:10px;
	border-bottom:2px solid #ddd;
}

.api-page .item:last-child {
	padding-bottom:0;
	border:0;
}

.api-page .item h3 {
	font-size:1.6em;
	text-shadow:2px 2px 5px rgba(0, 0, 0, .2);
	font-weight:bold;
	color:#000;
}

.api-page .item h4 {
	font-size:1.4em;
	color:#000;
	padding-top:5px;
}

.api-page .item .history-table {
	margin:10px 0 10px 20px;
}

.api-page .item .params-list {
	margin:5px 0 5px 10px;
	padding-left:10px;
}

.api-page .item .param {
	margin:10px 0;
}

.api-page .item .returns .params-list,
.api-page .item .params-list .params-list {
	border-left:2px solid #ddd;
	margin:-5px 0 0 20px;
	padding-left:15px;
}

.api-page .param .description {
	margin:0 0 0 20px;
	padding:0;
	font-size:1.1em;
}

.api-page .param .description ul {
	list-style:square;
	margin:5px 0 0 2em;
}

.api-page .param .name {
	color:#000;
	font-size:1.2em;
}

.api-page .type {
	margin:10px 0;
	font-size:11px;
	color:#CA2D71;
	margin-left:3px;
	font-family:나눔고딕코딩, Consolas, 'Lucida Console';
	font-weight:normal;
	text-shadow:none;
}

.api-page .item .example-content {
	margin-left:20px;
}

.api-page .item .default {
	margin:10px 0 10px 15px;
	font-family:나눔고딕코딩, Consolas, 'Lucida Console';
}

.api-page pre.code {
	padding:5px;
	font-size:1.1em;
	border:1px solid #ddd;
	margin:10px 0;
	background-color:#eee;
	font-family:나눔고딕코딩, Consolas, 'Lucida Console';
	word-wrap:break-word;
}

.api-page pre.syntax {
	background-color:#fff;
}

.api-page .sidemenu {
	padding-bottom:10px;
}

.api-page .sidemenu h3 a {
	color:#666;
}

.api-page .sidemenu .filter {
	padding:0 10px;
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px solid #aaa;
}

.api-page .sidemenu #api-filter {
	width:190px;
	padding:3px;
	font-size:1.2em;
	box-sizing:content-box;
}

.api-page .sidemenu h4 {
	font-size:1.4em;
	color:#000;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	margin-bottom:10px;
	font-weight:bold;
}

.api-page .sidemenu h5 {
	border-top:1px solid #bbb;
	padding-top:5px;
	font-size:1.2em;
	color:#000;
}

.api-page .sidemenu .manuals {

}

.api-page .sidemenu ul {
	margin:5px 0 5px 10px;
}

.api-page .sidemenu ul.apis a,
#search-tab .panels a {
	margin:2px 7px 2px 2px;
	padding:1px 3px;
	border-radius:5px;
	display:block;
}

.api-page .sidemenu ul.apis a:hover,
#search-tab .panels a:hover {
	background-color:#eee;
}

.api-page .sidemenu ul.apis a.goup {
	padding:0;
	margin:0;
	border-radius:0;
	display:inline;
}

.api-page .sidemenu ul.apis .flag {
	margin:0;
	color:#fff;
}

.api-page .sidemenu span {
	color:#666;
}

.api-page .sidemenu .args {
	margin-left:2px;
}

.api-page .sidemenu span.optional {
	font-style:italic;
}


#search-tab h4 {
	margin-left:10px;
}

#search-tab h5 {
	border:0;
	padding:0 0 3px 0;
}

#search-tab .tabs {
	margin:0;
	text-align:center;
	font-size:0;
}

#search-tab .tabs .tc-tab {
	display:inline-block;
	margin:-1px 0 0 -1px;
	font-size:11px;
	padding:3px 4px;
	cursor:pointer;
	_cursor:hand;
	background-color:#ccc;
	border:1px solid #aaa;
	position:relative;
}

#search-tab .tabs .tc-selected {
	background-color:#ddd;
	background-image:linear-gradient(top, #fff 0%, #ddd 100%);
	background-image:-ms-linear-gradient(top, #fff 0%, #ddd 100%);
	background-image:-webkit-linear-gradient(top, #fff 0%, #ddd 100%);
	background-image:-o-linear-gradient(top, #fff 0%, #ddd 100%);
	background-image:-moz-linear-gradient(top, #fff 0%, #ddd 100%);
	font-weight:bold;
	border-bottom:1px solid #ddd;
}

#search-tab .panels {
	border-top:1px solid #aaa;
	margin-top:-1px;
}

#search-tab .panels .tc-panel {
	display:none;
}

#search-tab .panels .tc-selected {
	display:block;
}

#search-tab .result a {
	position:relative;
	padding:5px; margin:5px 0;
	color:#666;
}

#search-tab .result strong {
	color:#CA2D71;
	font-weight:bold;
}

#search-tab .result .category {
	position:absolute;
	right:5px; top:5px;
	margin:0;
	color:#fff;
	background-color:#aaa;
	font-family:Arial;
}

#search-tab .result ul {
	margin:0 0 0 15px;
}

#search-tab .result .description,
#search-tab .result .className {
	margin:0 0 0 15px;
	padding:0;
	font-size:11px;
}

#search-tab .result .description {
	overflow:hidden;
	text-overflow:ellipsis;
	
	display:-webkit-box;
	-webkit-line-clamp:2; -webkit-box-orient:vertical
}

#search-tab .result .className {
	color:#CA2D71;
}

#search-tab .no-result {
	padding:20px 0;
	text-align:center;
	font-size:1.2em;
}

#api-keywords,
.tc-panel {
	margin:5px !important;
	color:#000;
}

.api-page .class-list {
	margin-top:10px;
	overflow:hidden;
}

.api-page .class-list li {
	padding:10px;
	margin:5px;
	width:327px;
	height:100px;
	float:left;
	overflow:hidden;
	border:1px solid #ccc;
	border-radius:5px;
}

.api-page .class-list h2 {
	border:0 !important;
	margin:0 !important;
	padding:0 !important;
}

.api-page .class-list img {
	float:right;
	width:100px;
	height:100px;
}

.api-page .class-list .description {
	padding:0 0 0 15px;
	font-size:1.1em;
	overflow:hidden; text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:4; -webkit-box-orient:vertical
}

.api-page .history table {
	border-collapse:collapse;
	width:100%;
}

.api-page .history th {
	text-align:center;
	font-weight:bold;
	font-size:1.2em !important;
	background-color:#eee;
}

.api-page .history th,
.api-page .history td {
	border:1px solid #ccc;
	border-width:1px 0;
	padding:3px 5px;
}

.api-page .history .version,
.api-page .history .category {
	width:100px;
	text-align:center;
}

.api-page .history .description {
	font-size:1em;
}

.api-page .file {
	margin-top:15px;
}

.api-page .file ol {
	padding-left:3em;
}

.api-page .file li {
	list-style:decimal;
}
