#main a {
	color:inherit;
}

.api-page .content a {
	border-bottom:1px solid #FF8DC1;
}

.api-page .options {
	text-align:right;
}
	
	.api-page .options * {
		vertical-align:middle;
	}
	
.api-page .foundAt {
	position:absolute;
}

	.api-page .foundAt a {
		text-indent:-99em;
		margin:0 0 0 10px;
		width:24px; height:24px;
		overflow:hidden;
		background:url(../images/code.png) no-repeat;
		border:0 !important;
		display:block;
		position:absolute;
	}

.api-page .description {
	padding:0 .5em;
	margin:10px 0;
	font-size:1.2em;
	color:#666;
}

.api-page .content h1 {
	font-size:2em;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
	color:#000;
	font-weight:bold;
}

.api-page dl.relation {
	display:block;
	clear:both;
	overflow:hidden;
	margin:10px; padding:0;
}

.api-page .relation dt,
.api-page .relation dd {
	margin:0; padding:0;
	float:left;
	height:20px;
}

.api-page .relation dt {
	clear:both;
	width:3em;
	text-align:right;
	padding-right:1em;
	color:#000;
	font-size:1.2em;
	font-weight:normal;
	text-shadow:2px 2px 5px rgba(0, 0, 0, .2);
}

.api-page .flag {
	font-size:11px;
	font-family:Arial;
	text-shadow:none;
	font-weight:normal;
	background-color:#888;
	color:#fff;
	padding:2px 4px;
	margin:0 5px;
	border-radius:5px;
	cursor:default;
}

.api-page .flag.deprecated {
	background-color:#000;
}

.api-page .flag.optional {
	background-color:#bbb;
}

.api-page .flag.static {
	background-color:#aa7;
}

.api-page .screenshots ul {
	white-space:nowrap;
	overflow:hidden;
	overflow-x:scroll;
	border:1px solid #ebebeb;
	border-width:1px 0;
	font-size:0;
}

.api-page .screenshots ul * {
	vertical-align:middle;
}

.api-page .screenshots li {
	display:inline;
}

.api-page #docs-tab {
	margin-top:2em;
}

.api-page #docs-tab .tabs {
	display:block;
	float:left;
	width:100%;
	border-bottom:1px solid #ddd;
	padding:0 10px;
	margin:0 -10px;
}

.api-page #docs-tab .tc-tab a {
	float:left;
	position:relative;
	z-index:1;
	display:block;
	border:0;
	padding:.5em;
	text-align:center;
	width:4.5em;
	margin:0 1px -1px 0;
	font-size:1.3em;
	background-color:#eee;
	border-top:3px solid #fff;
	border-bottom:1px solid #ddd;
}

.api-page #docs-tab .tabs .tc-selected a {
	border-color:#CA2D71;
	border-bottom:1px solid #fff;
	background-color:#fff;
	font-weight:bold;
}

.api-page #docs-tab .panels {
	clear:both;
}

.api-page #docs-tab .tc-panel {
	display:none;
	padding:10px;
}

.api-page #docs-tab .tc-panel h2 {
	display:none;
}

.api-page #docs-tab .tc-selected {
	display:block;
}

.api-page .item {
	margin:15px 0;
	padding-bottom:10px;
	border-bottom:2px solid #ddd;
}

.api-page .item:last-child {
	padding-bottom:0;
	border:0;
}

.api-page .item h3 {
	font-size:1.6em;
	text-shadow:2px 2px 5px rgba(0, 0, 0, .2);
	font-weight:bold;
	color:#000;
}

.api-page .item h4 {
	font-size:1.4em;
	color:#000;
	padding-top:5px;
}

.api-page .item .params-list {
	margin:5px 0 5px 10px;
	padding-left:10px;
}

.api-page .item .param {
	margin:10px 0;
}

.api-page .item .returns .params-list,
.api-page .item .params-list .params-list {
	border-left:2px solid #ddd;
	margin:-5px 0 0 20px;
	padding-left:15px;
}

.api-page .param .description {
	margin:0 0 0 20px;
	padding:0;
	font-size:1.1em;
}

.api-page .param .description ul {
	list-style:square;
	margin:5px 0 0 2em;
}

.api-page .param .name {
	color:#000;
	font-size:1.2em;
}

.api-page .type {
	margin:10px 0;
	font-size:11px;
	color:#CA2D71;
	margin-left:3px;
	font-family:나눔고딕코딩, Consolas, 'Lucida Console';
	font-weight:normal;
	text-shadow:none;
}

.api-page .item .example-content {
	margin-left:20px;
}

.api-page .item .default {
	margin:10px 0 10px 15px;
	font-family:나눔고딕코딩, Consolas, 'Lucida Console';
}

.api-page pre.code {
	padding:5px;
	font-size:1.1em;
	border:1px solid #ddd;
	margin:10px 0;
	background-color:#eee;
	font-family:나눔고딕코딩, Consolas, 'Lucida Console';
	word-wrap:break-word;
}

.api-page pre.syntax {
	background-color:#fff;
}

	