<%
    sortHistory = function(h) {
        return h.sort(function(a, b) {
           return a.version > b.version ? -1 : 1; 
        });
    };
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title><%=this.htmlTitle%> - AjaxUI@NHN</title>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="screen" href="<%=this.projectAssets%>/lib/prettify/prettify-min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="<%=this.projectAssets%>/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="<%=this.projectAssets%>/css/screen.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="<%=this.projectAssets%>/css/search.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="<%=this.projectAssets%>/css/api.css" />
    <script type="text/javascript" src="<%=this.projectAssets%>/lib/jindo.desktop.min.js"></script>
    <script type="text/javascript" src="<%=this.projectAssets%>/lib/jindo_component.min.js"></script>
    <script type="text/javascript" src="<%=this.projectAssets%>/lib/hash.js"></script>
    <script type="text/javascript">
    	
    	console.log(<%=JSON.stringify(this)%>);
    	
    </script>
</head>
<body class="api-page"><div id="header-bg"></div>
    
    <div id="wrap">
        
        <!-- navigation -->
        <div id="nav">
            <ul>
                <li><a href="http://jindo.nhncorp.com/ajaxui_home/index.html">HOME</a></li>
                <li><a href="http://jindo.nhncorp.com/ajaxui_home/library.html">LIBRARY</a></li>
                <li class="selected"><a href="http://jindo.nhncorp.com/ajaxui_home/tech_guide.html">TECH GUIDE</a></li>
                <li><a href="http://jindo.nhncorp.com/ajaxui_home/experiment.html">EXPERIMENT</a></li>
                <li><a href="http://jindo.nhncorp.com/ajaxui_home/support.html">SUPPORT</a></li>
            </ul>

            <form id="quick-search" class="sc_search">
                <p>
                    <label for="qsearch">Search:</label>
                    <input class="tbox" id="search_txt" type="text" name="qsearch" placeholder="Jindo API 검색" title="Start typing and hit ENTER" />
                    <input class="btn" alt="Search" type="image" name="searchsubmit" title="Search" src="<%=this.projectAssets%>/images/search.gif"  onclick="return false;"/>
                </p>
                <div id="search_suggest" class="ly_sug"></div>
            </form>
            
            <div class="clear-both"></div>
        </div>
        
        <!-- header -->
        <div id="header">                       
            <div class="background-pattern"></div>
            <h1 id="logo-text">
                <a href="<%=this.projectRoot%>index.html">
                    <img src="<%=this.projectAssets%>/images/jindo_ci.png" />
                </a>
            </h1>
        </div>

        <!-- left-columns -->
        <div id="left-columns">
            <div class="sidemenu">  
	        	<div id="version">Version <%=this.projectVersion%></div>
                <%=INCLUDE("sidebar", this)%>
            </div>
        </div>
                
        <!-- main content -->       
        <div id="main">
        	<div class="body">
	            <div class="options">
	        	   <%=INCLUDE("options", this)%>
	        	</div>
	            <div class="content">
	            	<%=INCLUDE("layout_content", this)%>
	            </div>
			</div>            
        </div>
        
        <!-- footer -->
        <div id="footer">
            <p>Copyright © <a href="http://nhncorp.com/" target="_blank">NHN</a> - AjaxUI Lab. All Rights Reserved.</p>                     
        </div>

    </div>

    <div id="footer-bg"></div>
    <!--
    <script type="text/javascript" charset="utf-8" src="/docs/jindo/search/js/background.js"></script>
    <script type="text/javascript" charset="utf-8" src="/docs/jindo/search/js/app.js"></script>
    -->
    <script type="text/javascript" charset="utf-8" src="<%=this.projectAssets%>/lib/prettify/prettify-min.js"></script>
    <script type="text/javascript" src="<%=this.projectAssets%>/js/api-list.js"></script>
    <script type="text/javascript" src="<%=this.projectAssets%>/js/api-search.js"></script>
    <script type="text/javascript" src="<%=this.projectAssets%>/../api.js?callback=APISearch.setData"></script>
    <script type="text/javascript" charset="utf-8">
    
        var projectRoot = location.href.replace(/\/[^\/]*$/, '') + "/<%=this.projectRoot%>";
        apiDocs(projectRoot);
        
    </script>
</body>
</html>
