<h4>Class <%=this.moduleName%></h4>
<% if (HAS(this.uses)) { %>
    Uses:
    <% EACH(this.uses, function() { %>
        <a href="<%=this.this%>.html"><%=this.this%></a>
    <% }); %>
    <br>
<% } %>
<% if (HAS(this.extension_for)) { %>
    Extension For:
    <% EACH(this.extension_for, function() { %>
        <a href="<%=this.this%>.html"><%=this.this%></a>
    <% }); %>
    <br>
<% } %>
<% if (HAS(this.extends)) { %>
    Extends: <%=crossLink(this.extends)%><br>
<% } %>
<span class="foundat">Class defined in: <a href="../<%=this.foundAt%>">`<%=this.file%>:<%=this.line%>`</a></span>
<div class="intro"><%=this.classDescription%></div>

<div id="classdocs">
    <ul>
        <% if (HAS(this.constructors)) { %>
        <li><a href="#constructors">Constructors</a></li>
        <% } %>
        <% if (HAS(this.methods)) { %>
        <li><a href="#methods">Methods</a></li>
        <% } %>
        <% if (HAS(this.properties)) { %>
        <li><a href="#props">Properties</a></li>
        <% } %>
        <% if (HAS(this.attrs)) { %>
        <li><a href="#attrs">Attributes</a></li>
        <% } %>
        <% if (HAS(this.events)) { %>
        <li><a href="#events">Events</a></li>
        <% } %>
    </ul>
    <div>
        <% if (HAS(this.constructors)) { %>
            <div id="constructors">
            <% EACH(this.constructors, function() { %>
                <%=INCLUDE("constructor", this)%>
            <% }); %>
            </div>
        <% } %>
        <% if (HAS(this.methods)) { %>
            <div id="methods">
            <% EACH(this.methods, function() { %>
                <%=INCLUDE("method", this)%>
            <% }); %>
            </div>
        <% } %>
        <% if (HAS(this.properties)) { %>
            <div id="props">
            <% EACH(this.properties, function() { %>
                <%=INCLUDE("props", this)%>
            <% }); %>
            </div>
        <% } %>
        <% if (HAS(this.attrs)) { %>
            <div id="attrs">
            <% EACH(this.attrs, function() { %>
                <%=INCLUDE("attrs", this)%>
            <% }); %>
            </div>
        <% } %>
        <% if (HAS(this.events)) { %>
            <div id="events">
            <% EACH(this.events, function() { %>
                <%=INCLUDE("events", this)%>
            <% }); %>
            </div>
        <% } %>
    </div>
</div>
