<a name="events_<%=this.name%>"></a>
<div class="events item">
    `<%=this.name%>` <% if (HAS(this.type)) { %><strong>&lt;<%=crossLink(this.type)%>&gt;</strong><% } %>
    <% if (HAS(this.extended_from)) { %><em>`/* Extended from <%=this.extended_from%> */</em>`<% } %>
    <% if (HAS(this.overwritten_from)) { %><em>`/* Overwritten from <%=this.name%> */`</em><% } %>
    <br>
    <span class="foundat"><a href="../<%=this.foundAt%>">`<%=this.file%>:<%=this.line%>`</a></span>
    <%=this.eventDescription%>
    <% if (HAS(this.params)) { %>
    <strong>Extra event object properties:</strong>
    <ul>
    <% EACH(this.params, function() { %>
        <li>
        <% if (HAS(this.optional)) { %>
            `[<%=this.name%><% if (HAS(this.optdefault)) { %>=<%=this.optdefault%><% } %>]` <strong>&lt;<%=crossLink(this.type)%>&gt;</strong>
        <% } else { %>
            `<%=this.name%>` <strong>&lt;<%=crossLink(this.type)%>&gt;</strong>
        <% } %>
        <% if (HAS(this.multiple)) { %>
            <abbr title="Denotes that this argument can contain (n) number">(*..n)</abbr>
        <% } %>
        <%=this.description%>
            <% if (HAS(this.props)) { %>
            <ul>
            <% EACH(this.props, function() { %>
                <li>`<%=this.name%>` <strong>&lt;<%=crossLink(this.type)%>&gt;</strong> <%=this.description%>
            <% }); %>
            </ul>
            <% } %>
        </li>
    <% }); %>
    </ul>
    <% } %>
</div>

