<a name="methods_<%=this.name%>"></a>
<div class="method item<% if (HAS(this.access)) { %> <%=this.access%><% } %>">
    <% if (HAS(this.final)) { %><code>final</code> <% } %><% if (HAS(this.returnType)) { %><%=crossLink(this.returnType)%> <% } %><strong class="name">`<%=this.name%>`</strong>( `<%=this.paramsList%> ` ) <% if (HAS(this.access)) { %><em>`/* <%=this.access%> method */`</em><% } %>
    <br>
    <span class="foundat">
    <% if (HAS(this.overwritten_from)) { %>
        Defined in <a href="<%=this.overwritten_from.class%>.html#method_<%=this.overwritten_from.name%>"><%=this.overwritten_from.class%></a> but overwritten locally: 
    <% } else { %>
        <% if (HAS(this.extended_from)) { %> Defined in <a href="<%=this.extended_from%>.html#method_<%=this.name%>"><%=this.extended_from%></a>: <% } %>
    <% } %>
        <a href="../<%=this.foundAt%>">`<%=this.file%>:<%=this.line%>`</a>
    </span><br>
    <%=this.methodDescription%>
    <% if (HAS(this.params)) { %>
    <strong>Parameters:</strong>
    <ul class="params">
    <% EACH(this.params, function() { %>
        <li>
        <% if (HAS(this.optional)) { %>
            `[<%=this.name%><% if (HAS(this.optdefault)) { %>=<%=this.optdefault%><% } %>]` <strong>&lt;<%=crossLink(this.type)%>&gt;</strong>
        <% } else { %>
            `<%=this.name%>` <strong>&lt;<%=crossLink(this.type)%>&gt;</strong>
        <% } %>
        <% if (HAS(this.multiple)) { %>
            <abbr title="Denotes that this argument can contain (n) number">(*..n)</abbr>
        <% } %>
        <%=this.description%>
            <% if (HAS(this.props)) { %>
            <ul>
            <% EACH(this.props, function() { %>
                <li>`<%=this.name%>` <strong>&lt;<%=crossLink(this.type)%>&gt;</strong> <%=this.description%>
                <% if (HAS(this.props)) { %>
                    <ul>
                        <% EACH(this.props, function() { %>
                            <li>`<%=this.name%>` <strong>&lt;<%=crossLink(this.type)%>&gt;</strong> <%=this.description%> </li>
                        <% }); %>
                    </ul>
                <% } %>
                </li>
            <% }); %>
            </ul>
            <% } %>
        </li>
    <% }); %>
    </ul>
    <% } %>
    <% if (HAS(this.return)) { %>
    <% EACH(this.return, function() { %>
    <br><div class="returns"><strong>Returns:</strong> <% if (HAS(this.type)) { %>&lt;<%=crossLink(this.type)%>&gt; <% } %><%=this.description%></div>
    <% }); %>
    <% } %>
    <% if (HAS(this.example)) { %>
        <h5>Example</h5>
        <%=this.example%>
    <% } %>
</div>
