
<h2><%=this.moduleName%></h2>
<div class="intro"><%=this.moduleDescription%></div>

<div class="yui3-g">
    <div class="yui3-u-1-2">
        <% if (HAS(this.moduleClasses)) { %>
        <p>This module has the following classes:</p>
        <ul>
        <% EACH(this.moduleClasses, function(projectRoot) { %>
            <li><a href="<%=projectRoot%>classes/<%=this.name%>.html"><%=this.displayName%></a></li>
        <% }, [ this.projectRoot ]); %>
        </ul>
        <% } %>
    </div>
    <div class="yui3-u-1-2">
        <% if (HAS(this.subModules)) { %>
        <p>This module has the following submodules:</p>
        <ul>
        <% EACH(this.subModules, function(projectRoot) { %>
            <li id="<%=this.name%>"><a href="<%=projectRoot%>modules/<%=this.name%>.html"><%=this.displayName%></a><p><%=this.description%></p></li>
        <% }, [ this.projectRoot ]); %>
        </ul>
        <% } %>
    </div>
</div>
<br><br>
<span class="foundat">Module description found: <a href="../<%=this.foundAt%>">`<%=this.file%>:<%=this.line%>`</a></span>
