<div id="modules" class="sidebox">
    <div class="hd">
        <h2 class="no-toc">Modules</h2>
    </div>
    <div class="bd">
        <ul>
            <% EACH(this.modules, function(projectRoot) { %>
                <li><a href="<%=projectRoot%>modules/<%=this.name%>.html"><%=this.displayName%></a>
                <% if (HAS(this.submodules)) { %>
                    <ul>
                        <% EACH(this.submodules, function(name) { %>
                            <li><a href="<%=projectRoot%>modules/<%=name%>.html#<%=this.displayName%>"><%=this.displayName%></a></li>
                        <% }, [ this.name ]); %>
                    </ul>
                <% } %>
                </li>
            <% }, [ this.projectRoot ]); %>
        </ul>
    </div>
</div>

<div id="classes" class="sidebox">
    <div class="hd">
        <h2 class="no-toc">Classes</h2>
    </div>
    <div class="bd">
        <ul>
            <% EACH(this.classes, function(projectRoot) { %>
                <li><a href="<%=projectRoot%>classes/<%=this.name%>.html"><%=this.displayName%></a></li>
            <% }, [ this.projectRoot ]); %>
        </ul>
    </div>
</div>

<% if (HAS(this.methods)) { %>
<div id="methods-on-page" class="sidebox on-page">
    <div class="hd">
        <h2 class="no-toc">Methods On Page</h2>
    </div>
    <div class="bd">
        <ul>
            <% EACH(this.methods, function() { %>
                <li><a href="#methods_<%=this.name%>"><%=this.name%></a></li>
            <% }); %>
        </ul>
    </div>
</div>
<% } %>

<% if (HAS(this.events)) { %>
<div id="events-on-page" class="sidebox on-page">
    <div class="hd">
        <h2 class="no-toc">Events On Page</h2>
    </div>
    <div class="bd">
        <ul>
            <% EACH(this.events, function() { %>
                <li><a href="#events_<%=this.name%>"><%=this.name%></a></li>
            <% }); %>
        </ul>
    </div>
</div>
<% } %>

<% if (HAS(this.props)) { %>
<div id="props-on-page" class="sidebox">
    <div class="hd">
        <h2 class="no-toc">Props On Page</h2>
    </div>
    <div class="bd">
        <ul>
            <% EACH(this.events, function() { %>
                <li><a href="#props_<%=this.name%>"><%=this.name%></a></li>
            <% }); %>
        </ul>
    </div>
</div>
<% } %>

<% if (HAS(this.attributes)) { %>
<div id="attrs-on-page" class="sidebox on-page">
    <div class="hd">
        <h2 class="no-toc">Attributes On Page</h2>
    </div>
    <div class="bd">
        <ul>
            <% EACH(this.events, function() { %>
                <li><a href="#attrs_<%=this.name%>"><%=this.name%></a></li>
            <% }); %>
        </ul>
    </div>
</div>
<% } %>

<% if (HAS(this.fileTree)) { %>
<div id="fileTree" class="sidebox">
    <div class="hd">
        <h2 class="no-toc">Files</h2>
    </div>
    <div class="bd">
        <%=buildFileTree(this.fileTree)%>
    </div>
</div>
<% } %>
