<div id="attr_<%=this.name%>" class="attr item<% if (HAS(this.access)) { %> <%=this.access%><% } %><% if (HAS(this.deprecated)) { %> deprecated<% } %><% if (HAS(this.extended_from)) { %> inherited<% } %>">
    <a name="config_<%=this.name%>"></a> {{! For backwards compatibility }}
    <h3 class="name"><code><%=this.name%></code></h3>
    <span class="type"><%=crossLink(this.type)%></span>

    <% if (HAS(this.deprecated)) { %>
        <span class="flag deprecated"<% if (HAS(this.deprecationMessage)) { %> title="<%=this.deprecationMessage%>"<% } %>>deprecated</span>
    <% } %>

    <% if (HAS(this.access)) { %>
        <span class="flag <%=this.access%>"><%=this.access%></span>
    <% } %>

    <% if (HAS(this.final)) { %>
        <span class="flag final">final</span>
    <% } %>

    <% if (HAS(this.static)) { %>
        <span class="flag static">static</span>
    <% } %>

    <% if (HAS(this.optional)) { %>
        <span class="flag optional">optional</span>
    <% } %>

    <% if (HAS(this.required)) { %>
        <span class="flag required">required</span>
    <% } %>

    <div class="meta">
        <% if (HAS(this.overwritten_from)) { %>
            <p>Inherited from
            <a href="<%=crossLinkRaw(this.overwritten_from.class)%>#method_<%=this.overwritten_from.name%>">
                <%=this.overwritten_from.class%>
            </a>
            <% if (HAS(this.foundAt)) { %>
            but overwritten in
            <% } %>
        <% } else { %>
            <% if (HAS(this.extended_from)) { %>
                <p>Inherited from
                <a href="<%=crossLinkRaw(this.extended_from)%>#method_<%=this.name%>"><%=this.extended_from%></a>:
            <% } else { %>
                <% EACH(this.providedBy, function() { %>
                    <p>Provided by the <a href="../modules/<%=this%>.html"><%=this%></a> module.</p>
                <% }); %>
                <p>
                <% if (HAS(this.foundAt)) { %>
                Defined in
                <% } %>
            <% } %>
        <% } %>
        <% if (HAS(this.foundAt)) { %>
        <a href="<%=this.foundAt%>">`<%=this.file%>:<%=this.line%>`</a>
        <% } %>
        </p>

        <% if (HAS(this.deprecationMessage)) { %>
            <p>Deprecated: <%=this.deprecationMessage%></p>
        <% } %>

        <% if (HAS(this.since)) { %>
            <p>Available since <%=this.since%></p>
        <% } %>
    </div>

    <div class="description">
        <%=this.attrDescription%>
    </div>

    <% if (HAS(this.default)) { %>
        <p><strong>Default:</strong> <%=this.default%></p>
    <% } %>

    <% if (HAS(this.emit)) { %>
        <div class="emits box">
            <h4>Fires event <code><%=this.name%>Change</code></h4>

            <p>
            Fires when the value for the configuration attribute `<%=this.name%>` is
            changed. You can listen for the event using the `on` method if you
            wish to be notified before the attribute's value has changed, or
            using the `after` method if you wish to be notified after the
            attribute's value has changed.
            </p>

            <div class="params">
                <h4>Parameters:</h4>

                <ul class="params-list">
                    <li class="param">
                        <code class="param-name">e</code>
                        <span class="type"><%=crossLink("EventFacade")%><% }); %></span>

                        <div class="param-description">
                            An Event Facade object with the following
                            attribute-specific properties added:
                        </div>

                        <ul class="params-list">
                            <li class="param">
                                <code class="param-name">prevVal</code>
                                <span class="type">Any</span>
                                <div class="param-description">The value of the attribute, prior to it being set.</div>
                            </li>
                            <li class="param">
                                <code class="param-name">newVal</code>
                                <span class="type">Any</span>
                                <div class="param-description">The value the attribute is to be set to.</div>
                            </li>
                            <li class="param">
                                <code class="param-name">attrName</code>
                                <span class="type"><%=crossLink("String")%><% }); %></span>
                                <div class="param-description">The name of the attribute being set.</div>
                            </li>
                            <li class="param">
                                <code class="param-name">subAttrName</code>
                                <span class="type"><%=crossLink("String")%><% }); %></span>
                                <div class="param-description">If setting a property within the attribute's value, the name of the sub-attribute property being set.</div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    <% } %>

    <% EACH(this.example, function() { %>
        <div class="example">
            <h4>Example:</h4>

            <div class="example-content">
                <%=this%>
            </div>
        </div>
    <% }); %>
</div>
