<li class="param">
    <% if (HAS(this.optional)) { %>
        <code class="param-name optional">[<%=this.name%><% if (HAS(this.optdefault)) { %>=<%=this.optdefault%><% } %>]</code>
        <span class="type"><%=crossLink(this.type)%></span>
        <span class="flag optional" title="This parameter is optional.">optional</span>
    <% } else { %>
        <code class="param-name"><%=this.name%></code>
        <span class="type"><%=crossLink(this.type)%></span>
    <% } %>

    <% if (HAS(this.multiple)) { %>
        <span class="flag multiple" title="This argument may occur one or more times.">multiple</span>
    <% } %>

    <div class="param-description">
        <%=this.description%>
    </div>

    <% if (HAS(this.props)) { %>
        <ul class="params-list">
            <% EACH(this.props, function() { %>
                <%=INCLUDE("param", this)%>
            <% }); %>
        </ul>
    <% } %>
</li>
