<div id="api-list">
    <h2 class="off-left">APIs</h2>
    <input type="search" id="api-filter" placeholder="Type to filter APIs">
    <!--
    <div id="api-tabview" class="tabview">
        <ul class="tabs">
            <li><a href="#api-classes">Classes</a></li>
            <li><a href="#api-modules">Modules</a></li>
        </ul>

        <div id="api-tabview-filter">
            <input type="search" id="api-filter" placeholder="Type to filter APIs">
        </div>

        <div id="api-tabview-panel">
            <ul id="api-classes" class="apis classes">
            <% EACH(this.classes, function(projectRoot) { %>
                <li><a href="<%=projectRoot%>classes/<%=this.name%>.html"><%=this.displayName%></a></li>
            <% }, [ this.projectRoot ]); %>
            </ul>

            <ul id="api-modules" class="apis modules">
            <% EACH(this.allModules, function(projectRoot) { %>
                <li><a href="<%=projectRoot%>modules/<%=this.name%>.html"><%=this.displayName%></a></li>
            <% }, [ this.projectRoot ]); %>
            </ul>
        </div>
    </div>
    -->
    <ul id="api-classes" class="apis classes">
    <% EACH(this.classes, function(projectRoot) { %>
        <li><a href="<%=projectRoot%>classes/<%=this.name%>.html"><%=this.displayName%></a></li>
    <% }, [ this.projectRoot ]); %>
    </ul>
</div>
