<li class="param">

    <code class="param-name {{#if optional}}optional" title="변경가능{{/if}}">{{name}}</code>
    <span class="type">&lt;{{#crossLink type}}{{/crossLink}}&gt;</span>
    {{#if optional}}
        <span class="optional" title="This property is changable.">
        	{{#if optdefault}}
        		(기본값 : {{optdefault}})
			{{/if}}
        </span>
    {{/if}}

    {{#if multiple}}
        <span class="flag multiple" title="This argument may occur one or more times.">multiple</span>
    {{/if}}

    <div class="param-description">
        {{{description}}}
    </div>

    {{#if props}}
        <ul class="params-list">
            {{#props}}
           		{{>param}}
            {{/props}}
        </ul>
    {{/if}}
</li>