<% if (HAS(this.classes)) { %>
    <h1>클래스</h2>
    
    <div id="class-columns">
        <ul class="class-list column">
        <% EACH(this.classes, function(projectRoot) { %>
            <li class="stack">
                <% if (HAS(this.screenshots)) { %>
                    <img src="<%=this.screenshots[0].href%>" title="<%==this.screenshots[0].description%>" />
                <% } %>
                <h2><a href="<%=projectRoot%>classes/<%=this.name%>.html">
                    <%=this.displayName%>
                </a></h2>
                <p class="description"><%=this.description.split('\n')[0]%></p>
            </li>
        <% }, [ this.projectRoot ]); %>
        </ul>
        <ul class="class-list column"></ul>
    </div>
<% } %>
