<% if (HAS(this.classes)) { %>
    <h1>클래스</h2>

    <ul class="class-list">
    <% EACH(this.classes, function(projectRoot) { %>
        <li>
            <% if (HAS(this.screenshots)) { %>
                <img src="<%=this.screenshots[0].href%>" title="<%==this.screenshots[0].description%>" />
            <% } %>
            <h2><a href="<%=projectRoot%>classes/<%=this.name%>.html">
                <%=this.displayName%>
            </a></h2>
            <p class="description"><%=this.description%></p>
        </li>
    <% }, [ this.projectRoot ]); %>
    </ul>
<% } %>
