<div id="method_<%=this.name%>" class="method item<% if (HAS(this.access)) { %> <%=this.access%><% } %><% if (HAS(this.deprecated)) { %> deprecated<% } %><% if (HAS(this.extended_from)) { %> inherited<% } %>">
    <h3 class="name">
        <%=this.name%>
        
        <% if (HAS(this.deprecated)) { %>
            <span class="flag deprecated" title="<%==this.deprecationMessage||'deprecated'%>">deprecated</span>
        <% } %>
    
        <% if (HAS(this.access)) { %>
            <span class="flag <%=this.access%>"><%=this.access%></span>
        <% } %>
    
        <% if (HAS(this.final)) { %>
            <span class="flag final">final</span>
        <% } %>
    
        <% if (HAS(this.static)) { %>
            <span class="flag static">static</span>
        <% } %>
    
        <% if (HAS(this.async)) { %>
            <span class="flag async">async</span>
        <% } %>

        <span class="foundAt"><a href="<%=this.foundAt%>" title="<%==this.file%>:<%=this.line%>">소스코드</a></span>
    </h3>

    <div class="description">
        <%=this.methodDescription%>
    </div>

    <dl class="relation">
        
        <% if (HAS(this.overwritten_from)) { %>
            <dt>상속</dt>
            <dd>
                <a href="<%=crossLinkRaw(this.overwritten_from.class)%>#method_<%=this.overwritten_from.name%>">
                    <%=this.overwritten_from.class%>
                </a>
            </dd>
        <% } else if (HAS(this.extended_from)) { %>
            <dt>상속</dt>
            <dd>
                <a href="<%=crossLinkRaw(this.extended_from)%>#method_<%=this.name%>">
                    <%=this.extended_from%>
                </a>
            </dd>
        <% } %>
        
        <% if (HAS(this.since)) { %>
            <dt>호환성</dt>
            <dd><%=this.since%>~</dd>
        <% } %>
    </dl>
    
    <pre class="code syntax"><code class="prettyprint"><%=this.syntax%></code></pre>
        
    <% if (HAS(this.history)) { %>
        <div class="history">
            <h4>
                히스토리
                <% if (this.history.length > 3) { %><button class="more-history">더보기</button><% } %>
            </h4>
            <%=INCLUDE("section.history", this)%>
        </div>
    <% } %>
    
    <% if (HAS(this.params)) { %>
        <div class="params">
            <h4>파라미터</h4>

            <ul class="params-list">
            <% EACH(this.params, function() { %>
                <%=INCLUDE("param", this)%>
            <% }); %>
            </ul>
        </div>
    <% } %>
    
    <% EACH(this.return, function(chainable) { %>
        <div class="returns param collapsed">
            <h4>
                반환값
                <% if (HAS(this.type)) { %>
                    <span class="type">&lt;<%=crossLink(this.type)%>&gt;</span>
                <% } %>
                
                <% if (HAS(chainable)) { %>
                    <span class="flag chainable">chainable</span>
                <% } %>
            </h4>

            <div class="description">
                <% if (HAS(this.props)) { %>
                    <button class="fold">자세히 보기</button>
                <% } %>
                <%=this.description%>
            </div>
            
            <% if (HAS(this.props)) { %>
                <ul class="params-list">
                    <% EACH(this.props, function() { %>
                        <%=INCLUDE("param", this)%>
                    <% }); %>
                </ul>
            <% } %>
            
        </div>
    <% }, [ this.chainable ]); %>

    <% EACH(this.example, function() { %>
        <div class="example">
            <h4>예제</h4>

            <div class="example-content">
                <%=this%>
            </div>
        </div>
    <% }); %>
</div>
