<div id="property_<%=this.name%>" class="property item<% if (HAS(this.access)) { %> <%=this.access%><% } %><% if (HAS(this.deprecated)) { %> deprecated<% } %><% if (HAS(this.extended_from)) { %> inherited<% } %>">
    <h3 class="name">
        <%=this.name%>
        <span class="type">&lt;<%=crossLink(this.type)%>&gt;</span>
        
        <% if (HAS(this.deprecated)) { %>
            <span class="flag deprecated" title="<%==this.deprecationMessage||'deprecated'%>">deprecated</span>
        <% } %>
    
        <% if (HAS(this.access)) { %>
            <span class="flag <%=this.access%>"><%=this.access%></span>
        <% } %>
    
        <% if (HAS(this.final)) { %>
            <span class="flag final">final</span>
        <% } %>
    
        <% if (HAS(this.static)) { %>
            <span class="flag static">static</span>
        <% } %>
    
        <% if (HAS(this.async)) { %>
            <span class="flag async">async</span>
        <% } %>

        <span class="foundAt"><a href="<%=this.foundAt%>" title="<%==this.file%>:<%=this.line%>">소스코드</a></span>
    </h3>

    <div class="description">
        <%=this.propertyDescription%>
    </div>

	<% if (HAS(this.remark)) { %>
	<div class="remark">
	    <%=this.remark%>
	</div>
	<% } %>
	
	<% if (HAS(this.overwritten_from) || HAS(this.extended_from) || HAS(this.since)) { %>
    <dl class="relation">
        
        <% if (HAS(this.overwritten_from)) { %>
            <dt>상속</dt>
            <dd>
                <a href="<%=crossLinkRaw(this.overwritten_from.class)%>#method_<%=this.overwritten_from.name%>">
                    <%=this.overwritten_from.class%>
                </a>
            </dd>
        <% } else if (HAS(this.extended_from)) { %>
            <dt>상속</dt>
            <dd>
                <a href="<%=crossLinkRaw(this.extended_from)%>#method_<%=this.name%>">
                    <%=this.extended_from%>
                </a>
            </dd>
        <% } %>
        
        <% if (HAS(this.since)) { %>
            <dt>호환성</dt>
            <dd><%=this.since%>~</dd>
        <% } %>
    </dl>
    <% } %>

    <% if (HAS(this.history)) { %>
        <div class="history">
            <h4>
                히스토리
                <% if (this.history.length > 3) { %><button class="more-history">더보기</button><% } %>
            </h4>
            <%=INCLUDE("section.history", this)%>
        </div>
    <% } %>
    
    <% if (HAS(this.default)) { %>
        <h4>기본값</h4>
        <p class="default"><%==this.default%></p>
    <% } %>

    <% if (HAS(this.subprops)) { %>
        <h4>하위 프로퍼티</h4>

        <ul class="params-list">
            <% EACH(this.subprops, function() { %>
                <%=INCLUDE("param", this)%>
            <% }); %>
        </ul>

    <% } %>

    <% EACH(this.example, function() { %>
        <div class="example">
            <h4>예제</h4>

            <div class="example-content">
                <%=this%>
            </div>
        </div>
    <% }); %>
</div>
