<div class="history-table">
    <table>
        <thead>
            <tr>
                <th class="version">릴리즈</th>
                <th class="category">종류</th>
                <th class="description">내용</th>
            </tr>
        </thead>
    <% var idx = 0; EACH(sortHistory(this.history), function() { %>
        <tbody>
            <tr class="idx_<%=(idx++)%>">
                <td class="version"><%==this.version%></td>
                <td class="category <%==this.category%>"><%==this.category%></td>
                <td class="description"><%==this.description%></td>
            </tr>
        </tbody>
    <% }); %>
    </table>
</div>
