<h2 class="blind"><a href="<%=this.projectRoot%>index.html"><span>APIs</span></a></h2>
<div class="snb depth1 scrollbar hide_when_small">
	<!-- [D] style="width:135px; height:384px; -->
	<div class="scrollbar-box">
		<div class="scrollbar-content">
			<div>
				<ul>
			        <% EACH(this.classes, function(projectRoot, className) { %>
			            <li>
			            	<a href="<%=projectRoot%>classes/<%=this.name%>.html" class="<%=(this.name === className ? "selected" : "")%>">
			                	<%=this.displayName.replace(/^jindo\./, '')%>
								<% if ('new' in this.details) { %><span title="new" class="ic new"><span class="blind">new</span></span><% } %>
								<% if ('update' in this.details) { %><span title="update" class="ic update"><span class="blind">Update</span></span><% } %>
			            	</a>
			            </li>
			        <% }, [ this.projectRoot, this.tag === 'class' && this.name ]); %>
				</ul>
			</div>
			<!--
			<div>
				<h3>UI Template</h3>
				<ul class="snb_lst">
					<li><a href="./jindo.m.PageLayoutUI/index.html">PageLayoutUI </a></li>
					<li><a href="./jindo.m.RevealSidebarUI/index.html">RevealSidebarUI </a></li>
				</ul>
			</div>
			-->
		</div>
	</div>
	<div class="scrollbar-v">
		<div class="scrollbar-button-up"></div>
		<div class="scrollbar-track">
			<div class="scrollbar-thumb" style="top: 0px; height: 222px; "></div>
		</div>
		<div class="scrollbar-button-down"></div>
	</div>
</div>

<% if (this.tag === 'class') { %>
	
<div class="snb depth2 scrollbar">
	<div class="scrollbar-box">
		<div class="scrollbar-content">
			<h3 class="blind"><%=this.name%> 클래스</h3>
			<div class="smanuals">
		
				<h3>보기 옵션</h3>
				<ul class="api-options">
					<li class="api-show-inherited">
						<span id="checkbox-inherited">
							<span class="checkbox-mark checkbox-checked"></span>
							<input type="checkbox" id="api-show-inherited">
						</span><label for="api-show-inherited">상속받은 항목</label>

					</li>
					<li class="api-show-deprecated">
						<span id="checkbox-deprecated">
							<span class="checkbox-mark"></span>
							<input type="checkbox" id="api-show-deprecated">
						</span><label for="api-show-deprecated">폐지예정 항목</label>
					</li>
				</ul>
	
		        <%
		        	var lists = this.constructors && this.constructors.filter(function(v) { return v.access !== 'private'; });
		        	if (HAS(lists)) {
		        %>
		            <h3><a href="#constructor">생성자</a></h3>
		
		            <ul class="constructors<% if (HAS(this.extends)) { %> extends<% } %>">
		                <% EACH(lists, function() { %>
		                    <li class="<% if (HAS(this.access)) { %><%=this.access%><% } %><% if (HAS(this.deprecated)) { %> deprecated<% } %><% if (HAS(this.overwritten_from)) { %> inherited<% } %><% if (HAS(this.extended_from)) { %> inherited<% } %>">
		                        <a href="#constructor_<%=this.name%>">
		                            <%=this.name.replace(/^jindo\./, '')%>
		                            <% if (HAS(this.deprecated)) { %><span class="flag deprecated" title="deprecated"><span class="blind">deprecated</span></span><% } %>
		                            <% if (HAS(this.static)) { %><span class="flag static" title="static"><span class="blind">static</span></span><% } %>
		                            <% if (HAS(this.extended_from)) { %><span class="flag inherited" title="inherited"><span class="blind">inherited</span></span><% } %>
		                        </a>
		                    </li>
		                <% }); %>
		            </ul>
		        <% } %>
				
		        <%
		        	var lists = this.methods && this.methods.filter(function(v) { return v.access !== 'private'; });
		        	if (HAS(lists)) {
		        %>
		            <h3><a href="#method">메서드</a></h3>
		
		            <ul class="methods<% if (HAS(this.extends)) { %> extends<% } %>">
		                <% EACH(lists, function() { %>
		                    <li class="<% if (HAS(this.access)) { %><%=this.access%><% } %><% if (HAS(this.deprecated)) { %> deprecated<% } %><% if (HAS(this.overwritten_from)) { %> inherited<% } %><% if (HAS(this.extended_from)) { %> inherited<% } %>">
		                        <a href="#method_<%=this.name%>" title="<%==this.description%>">
		                            <%=this.name%>()
		                            <% if (HAS(this.deprecated)) { %><span class="flag deprecated" title="deprecated"><span class="blind">deprecated</span></span><% } %>
		                            <% if (HAS(this.static)) { %><span class="flag static" title="static"><span class="blind">static</span></span><% } %>
		                            <% if (HAS(this.chainable)) { %><span class="flag chainable" title="chainable"><span class="blind">chainable</span></span><% } %>
		                            <% if (HAS(this.extended_from)) { %><span class="flag inherited" title="inherited"><span class="blind">inherited</span></span><% } %>
		                        </a>
		                    </li>
		                <% }); %>
		            </ul>
		        <% } %>
		
		        <%
		        	var lists = this.properties && this.properties.filter(function(v) { return v.access !== 'private'; });
		        	if (HAS(lists)) {
		        %>
		            <h3><a href="#property">프로퍼티</a></h3>
		
		            <ul class="properties<% if (this.extends) { %> extends<% } %>">
		                <% EACH(lists, function() { %>
		                    <li class="<% if (HAS(this.access)) { %><%=this.access%><% } %><% if (HAS(this.deprecated)) { %> deprecated<% } %><% if (HAS(this.overwritten_from)) { %> inherited<% } %><% if (HAS(this.extended_from)) { %> inherited<% } %>">
		                        <a href="#property_<%=this.name%>" title="<%==this.description%>">
		                            <%=this.name%>
		                            <% if (HAS(this.deprecated)) { %><span class="flag deprecated" title="deprecated"><span class="blind">deprecated</span></span><% } %>
		                            <% if (HAS(this.static)) { %><span class="flag static" title="static"><span class="blind">static</span></span><% } %>
		                            <% if (HAS(this.extended_from)) { %><span class="flag inherited" title="inherited"><span class="blind">inherited</span></span><% } %>
		                        </a>
		                    </li>
		                <% }); %>
		            </ul>
		        <% } %>
		
		        <%
		        	var lists = this.attrs && this.attrs.filter(function(v) { return v.access !== 'private'; });
		        	if (HAS(lists)) {
		        %>
		            <h3><a href="#attribute">속성</a></h3>
		
		            <ul class="attrs<% if (this.extends) { %> extends<% } %>">
		                <% EACH(lists, function() { %>
		                    <li class="<% if (HAS(this.access)) { %><%=this.access%><% } %><% if (HAS(this.deprecated)) { %> deprecated<% } %><% if (HAS(this.overwritten_from)) { %> inherited<% } %><% if (HAS(this.extended_from)) { %> inherited<% } %>">
		                        <a href="#attr_<%=this.name%>" title="<%==this.description%>">
		                        	<%=this.name%>
		                            <% if (HAS(this.deprecated)) { %><span class="flag deprecated" title="deprecated"><span class="blind">deprecated</span></span><% } %>
		                            <% if (HAS(this.extended_from)) { %><span class="flag inherited" title="inherited"><span class="blind">inherited</span></span><% } %>
		                        </a>
		                    </li>
		                <% }); %>
		            </ul>
		        <% } %>
		
		        <%
		        	var lists = this.events && this.events.filter(function(v) { return true; });
		        	if (HAS(lists)) {
		        %>
		            <h3><a href="#event">이벤트</a></h3>
		
		            <ul class="events<% if (this.extends) { %> extends<% } %>">
		                <% EACH(lists, function() { %>
		                    <li class="<% if (HAS(this.access)) { %><%=this.access%><% } %><% if (HAS(this.deprecated)) { %> deprecated<% } %><% if (HAS(this.overwritten_from)) { %> inherited<% } %><% if (HAS(this.extended_from)) { %> inherited<% } %>">
		                        <a href="#event_<%=this.name%>" title="<%==this.description%>">
		                            <%=this.name%>
		                            <% if (HAS(this.deprecated)) { %><span class="flag deprecated" title="deprecated"><span class="blind">deprecated</span></span><% } %>
		                            <% if (HAS(this.extended_from)) { %><span class="flag inherited" title="inherited"><span class="blind">inherited</span></span><% } %>
		                        </a>   
		                    </li>
		                <% }); %>
		            </ul>
		        <% } %>
		
		        <% if (HAS(this.demos)) { %>
		            <h3><a href="#demo">데모</a></h3>
		        <% } %>
		
		        <% if (HAS(this.manuals)) { %>
		            <h3><a href="#manual">매뉴얼</a></h3>
		
		            <ul class="manuals">
		                <% EACH(this.manuals, function() { %>
		                    <li class="manual">
		                        <a href="#manual_<%=this.uid%>"><%=this.name%></a>
		                    </li>
		                <% }); %>
		            </ul>
		        <% } %>
		
		        <% if (HAS(this.histories)) { %>
					<h3><a href="#history">전체 히스토리</a></h3>
		        <% } %>
	
			</div>
		</div>
	</div>
	<div class="scrollbar-v">
		<div class="scrollbar-button-up"></div>
		<div class="scrollbar-track">
			<div class="scrollbar-thumb" style="top: 0px; height: 222px; "></div>
		</div>
		<div class="scrollbar-button-down"></div>
	</div>
</div>
<% } %>
<button type="button" title="펼치기" class="btn_open">바로가기 열기<span class="ic"></span></button>
<button type="button" title="접기" class="btn_close">바로가기 닫기<span class="ic"></span></button>
