<div id="api-options">
    <label for="api-show-inherited">
        <input type="checkbox" id="api-show-inherited">
        상속받은 항목
    </label>
    <!--
    <label for="api-show-protected">
        <input type="checkbox" id="api-show-protected">
        Protected
    </label>

    <label for="api-show-private">
        <input type="checkbox" id="api-show-private">
        Private
    </label>
    -->
    <label for="api-show-deprecated">
        <input type="checkbox" id="api-show-deprecated">
        폐지예정 항목
    </label>
</div>
