<div id="api-list">
    <h2 class="off-left">APIs</h2>
    <div id="api-tabview" class="tabview">
        <ul class="tabs">
            <li><a href="#api-classes">Classes</a></li>
            <li><a href="#api-modules">Modules</a></li>
        </ul>

        <div id="api-tabview-filter">
            <input type="search" id="api-filter" placeholder="Type to filter APIs">
        </div>

        <div id="api-tabview-panel">
            <ul id="api-classes" class="apis classes">
            <% for (var k in this.classes) { var item = this.classes[k]; %>
            	<script type="text/javascript"> console.log(<%=JSON.stringify(item)%>); </script>
                <li><a href="../<%=this.projectRoot%>classes/<%=item.name%>.html"><%=item.displayName%></a></li>
            <% } %>
            </ul>

            <ul id="api-modules" class="apis modules">
            <% for (var item in this.allModules) { %>
                <li><a href="../<%=this.projectRoot%>modules/<%=item.name%>.html"><%=item.displayName%></a></li>
            <% } %>
            </ul>
        </div>
    </div>
</div>
